@tailwind base;

@tailwind components;

@tailwind utilities;

.slide-fade-enter-active {
  transition: all 0.1s;
}

.slide-fade-leave-active {
  transition: all 0.1s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: rgb(24, 79, 230); 
}

.wrapword {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}