@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.1s;
}

.slide-fade-leave-active {
  transition: all 0.1s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

emoji-picker {
  --num-columns: 9;
  --emoji-size: 1.3rem;
  --background: rgb(255, 255, 255);
  --emoji-padding: 7px;
  --skintone-border-radius: 5px;
  --border-radius: 8px;
  --category-emoji-padding: 5px;
}

::-webkit-scrollbar {width: 2px;}
::-webkit-scrollbar-track {background: rgb(255, 255, 255);}
::-webkit-scrollbar-thumb {background: rgb(109, 109, 109);}



.hidden-scroll::-webkit-scrollbar {width: 0px;}
.hidden-scroll::-webkit-scrollbar-track {background: rgb(255, 255, 255);}
.hidden-scroll::-webkit-scrollbar-thumb {background: rgb(24, 79, 230);}
.wrapword {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -webkit-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}